:php
  if (!is_object($person)) {
    throw new \InvalidArgumentException("'$person' is not a Fact");
  }
  $fact = $person->value();
  $source = $person->source();

- if (isset($fact['person']) && $fact['person'])
  %em
    != source($source, link_to("#" . $fact['person']->getLinkName(), $fact['person']->getLinkName()))
- else if ($fact['name'])
  %em= $fact['name']
